<div class="footer">

    <div class="footer-sub-div">

        <div>
            <a class="icons" href="https://www.instagram.com/iamchandanys" target="_blank">
                <img src="../../assets/images/instagram.png" alt="InstagramLogo" height="15" width="15" />
            </a>

            <a class="icons" href="https://github.com/iamchandanys" target="_blank">
                <img src="../../assets/images/github.png" alt="InstagramLogo" height="15" width="15" />
            </a>

            <a class="icons" href="https://stackoverflow.com/users/10335860" target="_blank">
                <img src="../../assets/images/stackoverflow.png" alt="InstagramLogo" height="15" width="15" />
            </a>

            <a class="icons" href="https://www.linkedin.com/in/iamchandanys" target="_blank">
                <img src="../../assets/images/linkedin.png" alt="InstagramLogo" height="15" width="15" />
            </a>

            <a class="icons" href="https://iamchandanys.github.io/blog" target="_blank">
                <img src="../../assets/images/worldwide.png" alt="InstagramLogo" height="15" width="15" />
            </a>
        </div>

        <div>
            <p >
                Designed & Developed by
                <span>
                    <a class="designed-developed-link-txt" href="https://iamchandanys.github.io/blog" target="_blank">
                        Chandan Y S
                    </a>
                </span>
            </p>
        </div>

    </div>

</div>