<!-- START :: Google Map code -->

<google-map height="500px" width="100%" [center]="center">
    <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options" (mapDragend)="onMapDrag($event)">
    </map-marker>
</google-map>

<!-- End :: Google Map code -->

<p>Current Latitude: {{latitude}}</p>
<p>Current Longitude: {{longitude}}</p>

<a href="https://github.com/imchandanys/GoogleMapsInAngularApplications" target="_blank">
    <p>Github Repository</p>
</a>

<a href="https://github.com/imchandanys/GoogleMapsInAngularApplications/blob/master/README.md" target="_blank">
    <p>README.md (Recommended)</p>
</a>

<br /><br /><br /><br /><br />

<app-footer></app-footer>